.crypto-wallet-address-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  width: 70%;
  margin-bottom: 1em;

  &__address-label {
    color: #73ef62;
    margin-top: 0.5em;
    margin-bottom: 0.3em;

    @media all and (max-width: 700px) {
      font-size: 12px;
    }
  }

  &__address {
    color: #89c9b8;
    font-weight: 700;
    word-wrap: break-word;

    @media all and (max-width: 700px) {
      font-size: 15px;
    }
  }

  &__private-key-label {
    color: red;
    margin-bottom: 0.3em;
    margin-top: 1.3em;

    @media all and (max-width: 700px) {
      font-size: 12px;
    }
  }

  &__private-key {
    color: #89c9b8;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 1em;

    @media all and (max-width: 700px) {
      font-size: 15px;
    }
  }
}
