.container {
  background-color: #092532;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.optionsWrapper {
  margin: 2em;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}
.heading {
  font-size: 30px;
  color: white;
  text-align: left;
  font-weight: 300;
  margin-top: 4em;
}
.details {
  color: white;
  position: absolute;
  right: 7%;
  top: 5%;
}
.selectedOption {
  color: #73ef62;
  font-weight: 500;
  margin-top: 0.5em;
}
.info {
  /* align-self: flex-start; */
  font-size: 10px;
  color: white;
  float: left;
  position: absolute;
  bottom: 5%;
}
.noLink{
    text-decoration: none;
  }
  .buttonWrapper{
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;

  }
